# Environment
.env
venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Testing
.pytest_cache/
htmlcov/
.coverage
*.cover

# IDE
.vscode/
.idea/
*.swp
*.swo
*.bak

# OS
.DS_Store
Thumbs.db

# Logs
*.log
